:root{
    --bg-color:#f8f3f1;
    --para-color:#8c8c8c;
    --btn-bg-color:#e95b3a;
    --font-color:#111111;
    --box-color:#f7e8e2;
    /* --font-family:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */

    
}
.Home-section{
    height: 100vh;
    min-height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    z-index: 0;
}

.img-section{
    height: 70vh;
    min-height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    z-index: 0;
}